/*.Points {
    background: #F7CAC9;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    line-height: 32px;
    margin: 0 5%;
    padding: 7% 6%;
    list-style-type: disc;
    gap: 10px;
}

.Point {
    color: black;
    font-size: 100%;
    width: 100%;
}

 */