.Header {
    background: #92A8D1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

nav {
    padding: 1% 3%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
}

.logo {
    padding: 0.3% 1% 0.1% 1%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

nav a {
    padding: 1% 3%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 150%;
    color: #000000;
}

a:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.LogOutButton {
    padding: 7% 3%;
    color: #000000;
    font-size: 150%;

    border: 2px solid #00B4D8;
}

.LogOutButton:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
