.Main {
    display: flex;
    align-items: stretch;
    align-self: flex-start;
    flex-basis: auto;
    background: #92A8D1;
}



.BannerLeft {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    background: #F7CAC9;

    border-radius: 0 25px 25px 0px;
    gap: 20px;
}

.BannerRight {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    background: #92A8D1;
    padding: 5% 5% 5% 5%;
    gap: 20px;
}


.Text {
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
}

.MiddleText {
    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /*white-space: nowrap;*/
    text-align: center;
}

.SmallText {
    font-style: normal;
    font-weight: 900;
    font-size: 100%;

    text-align: center;
}

.LineUp {
    border-bottom: 1px solid black;
    width: 100%;
}

.LineDown {
    border-bottom: 1px solid black;
    width: 74%;
}

.LongText {
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
}

.Button {
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
    background: #FFFFFF;
    padding: 5% 5% 5% 5%;
    border-radius: 50px;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.56);
}

.ButtonMore {
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
    background: #FFFFFF;
    padding: 5% 13% 5% 13%;
    border-radius: 50px;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.56);
}

.BannerRightDown {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    background: #92A8D1;
    width: 50%;
    padding: 4% 0% 4% 4%;
    gap: 20px;
}

.BannerSystemInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: auto;
    padding: 5% 0% 5% 5%;
    background: #F7CAC9;
    border-radius: 25px 0px 0px 25px;
    gap: 20px;
}

.Picture {
    padding: 1% 1% 1% 1%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.BannerTop {
    font-style: normal;
    font-weight: 900;
    font-size: 300%;
}

.BannerDown {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    gap: 10px;
}

.Reg {
    font-weight: 800;
    font-size: 300%;
    color: #03045E;
    text-align: center;
    text-decoration: none;
}

.PicDesc {
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 150%;
}

.Points {
    background: #F7CAC9;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    line-height: 32px;
    margin: 0;
    padding: 4%;
    list-style-type: disc;
    gap: 5px;
}

.Point {
    color: black;
    font-size: 100%;
    width: 100%;
}