.MainNewExp {
    display: flex;
    align-items: center;
    align-content: center;
    background: #92A8D1;
    padding: 0 5%;
    min-height: 80%;
    height: auto;
}

.RowRecCenter {
    font-size: 120%;
    color: rgba(0,0,0,0.5);
    display: flex;
    border: #000000 solid 1px;
    padding: 0 10% 0 2%;
    margin-top: 1%;
}

.RecCenter input {
    font-size: 120%;
    font-family: 'PTSerif-Regular', sans-serif;
    color: rgba(0,0,0,0.5);
    display: flex;
    border: #000000 solid 1px;
    padding: 0 10% 0 2%;
    margin-top: 1%;
}

.DataBox {
    font-size: 80%;
    color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    border: #000000 dashed 1px;
    padding: 2% 2% 2% 2%;
    margin: 5% 10% 5% 10%;
}

.Text {
    font-size: 155%;
    font-weight: normal;
    margin-bottom: 2%;
    color: rgba(0,0,0,0.5);
}

.RecCenter {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0 20%;
    padding: 0 10%;
}

.ButtonConcl {
    display: flex;
    background: #F7CAC9;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    padding: 1% 5%;
    margin: 5% 5% 2% 20%;
}

.ButtonMoreConcl {
    display: flex;
    background: #F7CAC9;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    padding: 1% 5%;
    margin: 5% 20% 2% 5%;

}


.fileInput {
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.submitButton {
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    /*&: hover;*/

}