.RegistrationForm {
    color: #03045E;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin: 7% 7% 7% 7%;
}

.RegistrationForm input {
    width: 100%;
    background: #0096C7;
    color: #ADE8F4;
    outline: none;
    border: none;
    box-shadow: none;
    mask-border: none;
    font-family: 'Montserrat', sans-serif !important;

    height: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;

}

.RegName {
    margin: 1% 0 1% 0;
    color: #03045E;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-self: center;
}

.RegButton {
    margin: 8% 0 8% 0;
    padding: 1% 1% 1% 1%;
    font-size: 170%;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif !important;
    background: #0096C7;
    border: 2px solid #023E8A;
    border-radius: 15px;
}

.AlreadyReg {
    font-size: 150%;
    font-weight: 100;
    text-decoration: none;
    color: #03045E;
}